<h1 class="title has-text-centered">SING IN OR LOG IN</h1>
<hr>
<div class="columns">
  <div class="column is-6">
    <%= link_to "SING IN", signup_path, class: 'button is-fullwidth is-dark is-medium' %>
  </div>
  <div class="column is-6">
    <%= link_to "LOG IN", login_path, class: 'button is-fullwidth is-dark is-medium' %>
  </div>
</div>
<hr>