<h1 class="title">SIGN UP</h1>
<hr>
<%= form_for(@user,html: {class: 'x'}) do |f| %>
  <div class="field">
    <%= f.text_field :email, placeholder: 'Email', class: 'input is-medium' %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: 'Password', class: 'input is-medium' %>
  </div>
  <hr>
  <%= f.submit 'Sign Up', class: 'button is-dark is-medium' %>
<% end %>